ul{
    list-style: none;
    margin: 0;
}
h3{
    margin: 0;
}

p{
    margin: 0;
}

.item_body{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 15px;
    max-width: 300px;
    width:100%;
    min-height: 60px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}


.task_title{
   font-family: "Atkinson Hyperlegible Mono", sans-serif;
   font-weight: 500;
   text-align: center; 
}
.task_completed{
  font-size: 13px;
  font-family: "Quicksand", sans-serif;  
  text-align: center; 
}

.task_button{
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  transition: all 0.5s ease;
  font-family: "Quicksand", sans-serif;  
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.task_button:hover{
    background-color: #474a51;
    box-shadow: 0 0 10px 2px #e8eff9;
}