ul{
    list-style: none;
    margin: 0;
}
h3{
    margin: 0;
}

p{
    margin: 0;
}

.item_body{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: #fff;
border-radius: 15px;
width: 400px;
height: 60px;
align-items: center;
display: flex;
flex-direction: column;
}


.task_title{
   font-family: "Atkinson Hyperlegible Mono", sans-serif;
   font-weight: 500;
}
.task_descr{
 font-family: "Quicksand", sans-serif;
 font-size: 13px;
}
.task_status{
  font-size: 13px;
  font-family: "Quicksand", sans-serif;  
}